@{
    //var serverNow = MyDateHelper.Resolve().Now();
    var serverNow = new DateTime(2010, 1, 1);
}

@section styles
{
    <link href="~/Content/libs/bootstrap/bootstrap.css" rel="stylesheet" />
}
@section scripts
{    
    <script src="~/Content/libs/MyClock/MyClock.js"></script>
    <script type="text/javascript">
        (function () {
            "use strict";
            var serverDate = new Date('@serverNow');
            //console.log(serverDate);
            var helper = MyClock.init(serverDate, 'serverClock', { withDayOfWeek: true, withDate: true, withColor: false });
            helper.beginTick();
        }());
    </script>
}

<div class="container">
    <h2>
        Clock
    </h2>
    <hr />
    <div class="row">
        <div class="col-xs-12">
            <span id="serverClock"></span>
        </div>
    </div>
</div>