@{
    ViewBag.Title = "Home Page";
    this.SetAngularSupport(false);
}

<h2>Home Index2</h2>
@section scripts
{
    <script src="~/Content/scripts/home.index2.js"></script>
}
@Html.Partial("_Part")
