<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/libs/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
<div>
    @RenderBody()
</div>
    @RenderSection("scripts", false)
</body>
</html>
