<div>
    <div class="alert alert-danger">
        <strong>
            <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer red"></i>
            注意!
        </strong>
        请填写资源信息，资源才会生效.
        <br>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <form class="form-horizontal" role="form" name="<FormName>">
                <div class="form-group" ng-class="{'has-success':<FormName>.Title.$valid,'has-error':<FormName>.Title.$dirty && <FormName>.Title.$invalid}">
                    <label class="col-xs-2 control-label" ng-class="">标题：</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" name="Title" ng-model="uploadModel.Title" ng-minlength="1" ng-maxlength="100" required/>
                        <div class="help-block" ng-if="<FormName>.Title.$dirty && <FormName>.Title.$invalid">请输入1-100位字符。</div>
                    </div>
                    <div class="help-block inline">必填</div>
                </div>

                <div class="form-group" ng-class="{'has-success':<FormName>.UserName.$dirty && <FormName>.UserName.$valid,'has-error':<FormName>.UserName.$dirty && <FormName>.UserName.$invalid}">
                    <label class="col-xs-2 control-label">主讲人：</label>
                    <div class="col-xs-9">
                        <input type="text" name="UserName" class="form-control" ng-model="uploadModel.Teacher" ng-minlength="1" ng-maxlength="30" required/>
                        <div class="help-block" ng-show="<FormName>.UserName.$dirty && <FormName>.UserName.$invalid">请输入1-30位字符。</div>
                    </div>
                    <div class="help-block col-xs-reset inline">必填</div>
                </div>

                <div class="form-group" ng-class="{'has-success':<FormName>.Subject.$dirty && uploadModel.SubjectCode != '','has-error':(<FormName>.Subject.$dirty && uploadModel.SubjectCode == '') || <FormName>.Subject.$dirty && <FormName>.Subject.$invalid}">
                    <label class="col-xs-2 control-label">学科：</label>
                    <div class="col-xs-9">
                        <select class="form-control" name="Subject" ng-model="uploadModel.SubjectName">
                            <option value="" ng-selected="''==uploadModel.SubjectCode">请选择学科</option>
                            <option ng-repeat="item in subjects" ng-selected="item.Code==uploadModel.SubjectCode" value="{{item.Name}}">{{item.Name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-success':<FormName>.Grade.$dirty && uploadModel.GradeCode != '','has-error':(<FormName>.Grade.$dirty && uploadModel.GradeCode == '')||<FormName>.Grade.$dirty && <FormName>.Grade.$invalid}">
                    <label class="col-xs-2 control-label">年级：</label>
                    <div class="col-xs-9">
                        <select class="form-control" name="Grade" ng-model="uploadModel.GradeName">
                            <option value="" ng-selected="''==uploadModel.GradeCode">请选择年级</option>
                            <option ng-repeat="item in grades" ng-selected="item.Code==uploadModel.GradeCode" value="{{item.Name}}">{{item.Name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-success': <FormName>.Description.$dirty && <FormName>.Description.$valid, 'has-error':<FormName>.Description.$dirty && <FormName>.Description.$invalid}">
                    <label class="col-xs-2 control-label">简介：</label>
                    <div class="col-xs-9">
                        <textarea class="form-control" rows="3" name="Description" ng-model="uploadModel.Description" ng-maxlength="150" placeholder="输入150位以下字符"></textarea>
                        <div class="help-block" ng-show="<FormName>.Description.$dirty && <FormName>.Description.$invalid">请输入150位以下字符。</div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-9">
                        <button class="nb-BtnCommit" type="button" ng-click="createSave()" ng-disabled="!<FormName>.$dirty||<FormName>.$invalid">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr/>
</div>
@functions
{
    public class AngularFormMeta
    {
        public AngularFormMeta()
        {
            RequiredText = "*";
        }
        
        public string FormName { get; set; }
        public string ModelName { get; set; }

        public string RequiredText { get; set; }
    }

    public class AngularFormProperty
    {
        public string PropertyName { get; set; }
        public string PropertyText { get; set; }
        public int? MinLength { get; set; }
        public int? MaxLength { get; set; }
        public bool? Required { get; set; }
        public string TipMessage { get; set; }
    }
    
    public class AngularModelFormHelper
    {
        public static string FormGroupTemplate = @"
<div class=""form-group"" ng-class=""{'has-success':<FormName>.Title.$valid,'has-error':<FormName>.Title.$dirty && <FormName>.Title.$invalid}"">
    <label class=""col-xs-2 control-label"" ng-class="""">标题：</label>
    <div class=""col-xs-9"">
        <input type=""text"" class=""form-control"" name=""Title"" ng-model=""uploadModel.Title"" ng-minlength=""1"" ng-maxlength=""100"" required/>
        <div class=""help-block"" ng-if=""<FormName>.Title.$dirty && <FormName>.Title.$invalid"">请输入1-100位字符。</div>
    </div>
    <div class=""help-block inline"">*</div>
</div>";
    }


    public static string CreateFormGroup(string formName)
    {
        return null;
    }

    public static void Init()
    {
        //<div class="form-group" ng-class="{'has-success':<FormName>.Title.$valid,'has-error':<FormName>.Title.$dirty && <FormName>.Title.$invalid}">
        //    <label class="col-xs-2 control-label" ng-class="">标题：</label>
        //    <div class="col-xs-9">
        //        <input type="text" class="form-control" name="Title" ng-model="uploadModel.Title" ng-minlength="1" ng-maxlength="100" required/>
        //        <div class="help-block" ng-if="<FormName>.Title.$dirty && <FormName>.Title.$invalid">请输入1-100位字符。</div>
        //    </div>
        //    <div class="help-block inline">必填</div>
        //</div>
        
    }
}