<link rel="stylesheet" href="~/Content/Libs/JqueryFileUpload/css/jquery.fileupload.css">
<link rel="stylesheet" href="~/Content/Libs/JqueryFileUpload/css/jquery.fileupload-ui.css">
<div>
    <form id="fileupload"
          action="#"
          method="POST"
          enctype="multipart/form-data"
          data-ng-controller="DemoFileUploadController" 
          data-file-upload="options">
        <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <span class="btn btn-white btn-primary fileinput-button" ng-disabled="pro>0 || serviceError">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>添加资源</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <button type="button" class="nb-BtnUpload start" data-ng-click="submit()" ng-if="queue.length>0 && overallProgress.loaded==0">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>上传</span>
                </button>
            </div>
        </div>
        <div class="alert alert-danger" ng-if="queue[0].error || serviceError">
            <strong>
                <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer red"></i>
                注意!
            </strong>
            资源上传失败，请查看服务器连接.
            <br>
        </div>
        <table class="table table-striped files ng-cloak">
            <tr data-ng-repeat="file in queue">
                <td>
                    <p class="name">
                        <span>{{file.name}}</span>
                    </p>
                    <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
                </td>
                <td>
                    <p>{{file.size | formatFileSize}}</p>
                    <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()">
                        <div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div>
                    </div>
                </td>
                <td>
                    <button type="button" class="nb-BtnCancel" data-ng-click="file.$cancel()" ng-if="pro!=100 && !file.error">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>取消</span>
                    </button>
                    <a class="nb-BtnDelete" href="javascript:window.location.href=window.location.href" ng-if="pro==100">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>删除</span>
                    </a>
                </td>
            </tr>
        </table>
    </form>

    <div>
        <div class="alert alert-danger">
            <strong>
                <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer red"></i>
                注意!
            </strong>
            请填写资源信息，资源才会生效.
            <br>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <form class="form-horizontal" role="form" name="PresFrom">
                    <div class="form-group" ng-class="{'has-success':PresFrom.Title.$valid,'has-error':PresFrom.Title.$dirty&&PresFrom.Title.$invalid}">
                        <label class="col-xs-2 control-label" ng-class="">标题：</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" ng-click="Titleclick()" name="Title" ng-model="uploadModel.Title" ng-minlength="1" ng-maxlength="100" required />
                            <div class="help-block" ng-if="PresFrom.Title.$dirty&&PresFrom.Title.$invalid">请输入1-100位字符。</div>
                        </div>
                        <div class="help-block inline">必填</div>
                    </div>

                    <div class="form-group" ng-class="{'has-success':PresFrom.UserName.$dirty && PresFrom.UserName.$valid,'has-error':PresFrom.UserName.$dirty && PresFrom.UserName.$invalid}">
                        <label class="col-xs-2 control-label">主讲人：</label>
                        <div class="col-xs-9">
                            <input type="text" name="UserName" class="form-control" ng-model="uploadModel.Teacher" ng-minlength="1" ng-maxlength="30" required />
                            <div class="help-block" ng-show="PresFrom.UserName.$dirty&&PresFrom.UserName.$invalid">请输入1-30位字符。</div>
                        </div>
                        <div class="help-block col-xs-reset inline">必填</div>
                    </div>
                    <div class="form-group" ng-class="{'has-success':PresFrom.Subject.$dirty && uploadModel.SubjectCode != '','has-error':(PresFrom.Subject.$dirty && uploadModel.SubjectCode == '')||PresFrom.Subject.$dirty && PresFrom.Subject.$invalid}">
                        <label class="col-xs-2 control-label">学科：</label>
                        <div class="col-xs-9">
                            <select class="form-control" name="Subject" ng-model="uploadModel.SubjectName">
                                <option value="" ng-selected="''==uploadModel.SubjectCode">请选择学科</option>
                                <option ng-repeat="item in subjects" ng-selected="item.Code==uploadModel.SubjectCode" value="{{item.Name}}">{{item.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-success':PresFrom.Grade.$dirty && uploadModel.GradeCode != '','has-error':(PresFrom.Grade.$dirty && uploadModel.GradeCode == '')||PresFrom.Grade.$dirty && PresFrom.Grade.$invalid}">
                        <label class="col-xs-2 control-label">年级：</label>
                        <div class="col-xs-9">
                            <select class="form-control" name="Grade" ng-model="uploadModel.GradeName">
                                <option value="" ng-selected="''==uploadModel.GradeCode">请选择年级</option>
                                <option ng-repeat="item in grades" ng-selected="item.Code==uploadModel.GradeCode" value="{{item.Name}}">{{item.Name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-success': PresFrom.Description.$dirty && PresFrom.Description.$valid, 'has-error':PresFrom.Description.$dirty && PresFrom.Description.$invalid}">
                        <label class="col-xs-2 control-label">简介：</label>
                        <div class="col-xs-9">
                            <textarea class="form-control" rows="3" name="Description" ng-model="uploadModel.Description" ng-maxlength="150" placeholder="输入150位以下字符"></textarea>
                            <div class="help-block" ng-show="PresFrom.Description.$dirty && PresFrom.Description.$invalid">请输入150位以下字符。</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-9">
                            <button class="nb-BtnCommit" type="button" ng-click="createSave()" ng-disabled="!PresFrom.$dirty||PresFrom.$invalid">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr />
    </div>
</div>