<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>angular-dics</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/theme-colors/blue.css" rel="stylesheet" />
    <link href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css" rel="stylesheet" />
    <link href="/Content/css/layout_template.css" rel="stylesheet">
    <link href="../css/dics.css" rel="stylesheet" />
    <!-- JS Global Compulsory -->
    <script src="assets/plugins/jquery/jquery.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.js"></script>
    <script src="../libs/angular1.2/angular.js"></script>
    <script src="../scripts/zqnb.js"></script>
    <script src="../scripts/zqnb.mainApp.js"></script>
    <script src="../scripts/zqnb.mainApp.unify.js"></script>
    <script src="../scripts/zqnb.dicCatalogVm.js"></script>
    <script>
        (function () {
            'use strict';
            var mainApp = zqnb.mainApp;
            
            mainApp.factory('dicCatalogAppService', ['$http', function ($http) {
                var serviceUrl = '/Content/scripts/GetDicCatalogs2.js';
                return {
                    getDicCatalogs: function () {
                        return $http.get(serviceUrl);
                    }
                }
            }
            ]);
            mainApp.factory('dicCatalogMockData', ['dicCatalogAppService', function (dicCatalogAppService) {

                var dicHelper = zqnb.createDicHelper();

                var mockHelper = function () {

                    var setupInitData = function (initData, dicSettings) {

                        initData.dicSettings = dicSettings;
                        //initCodes
                        initData.initCodes = { OrgCode: 'Org2', PhaseCode: 'Phase2', SubjectCode: 'GS001', GradeCode: 'GO003' };

                        //all dic items
                        var orgs = [];
                        var phases = [];
                        var subjects = [];
                        var grades = [];

                        //mock set orgs
                        orgs.push({ Code: "Org1", Name: "组织1", OrgTypeCode: "OrgType1" });
                        orgs.push({ Code: "Org2", Name: "组织2", OrgTypeCode: "OrgType2" });
                        orgs.push({ Code: "Org3", Name: "组织3", OrgTypeCode: "OrgType3" });

                        angular.forEach(dicSettings, function (phase) {
                            if (!phase.InUse) {
                                return;
                            }
                            phases.push({ Code: phase.Code, Name: phase.Name, Hidden: false });
                            //subjects
                            angular.forEach(phase.Subjects, function (subject) {
                                if (!subject.InUse) {
                                    return;
                                }
                                if (!dicHelper.containItem(subjects, subject)) {
                                    subjects.push({ Code: subject.Code, Name: subject.Name, Hidden: false });
                                }
                            });
                            //grades
                            angular.forEach(phase.Grades, function (grade) {
                                if (!grade.InUse) {
                                    return;
                                }
                                if (!dicHelper.containItem(grades, grade)) {
                                    grades.push({ Code: grade.Code, Name: grade.Name, Hidden: false });
                                }
                            });
                        });

                        initData.orgs = orgs;
                        initData.phases = phases;
                        initData.subjects = subjects;
                        initData.grades = grades;


                        //mock relations
                        initData.orgTypePhases = [
                            { OrgTypeCode: "OrgType1", PhaseCode: "Phase0" },
                            { OrgTypeCode: "OrgType1", PhaseCode: "Phase1" },
                            { OrgTypeCode: "OrgType1", PhaseCode: "Phase2" },
                            { OrgTypeCode: "OrgType1", PhaseCode: "Phase3" },
                            { OrgTypeCode: "OrgType2", PhaseCode: "Phase2" },
                            { OrgTypeCode: "OrgType3", PhaseCode: "Phase3" }
                        ];

                        return initData;
                    };

                    return {
                        setupInitData: setupInitData
                    };
                }();

                var init = function (vm) {
                    dicCatalogAppService.getDicCatalogs()
                        .success(function (result) {

                            var initData = {
                                autoAppendEmpty: true,
                                orgs: [],
                                phases: [],
                                subjects: [],
                                grades: [],
                                orgTypePhases: [],
                                initCodes: { OrgCode: '', PhaseCode: '', SubjectCode: '', GradeCode: '' }
                            };

                            //result[0].InUse = true;
                            mockHelper.setupInitData(initData, result);
                            vm.initItems(initData);
                            //vm.initRelation(initData);
                            //vm.updateView();
                        });
                };
                return { init: init };
            }
            ]);
            
            mainApp.controller('demoCtrl', function ($scope, dicCatalogMockData) {

                var vm = zqnb.createDicCatalogVm();

                $scope.dicCatalogVm = vm;
                $scope.callTest = function () {
                    vm.selectResult.phase.Name = "ABC";
                }

                $scope.resultChanged = function (event) {
                    //console.log('ctrl get resultChanged!');
                    //console.log(event);
                    vm.resultChanged(event);
                    vm.updateView();
                };

                dicCatalogMockData.init(vm);

            });

            mainApp.directive('nbDicCatalog', function() {

                var template1 = function () {
                    return '' +
' <div class="term-box">  ' +
'      <span class="term">学段(<span class="selectedDicCatalogItem">{{vm.selectResult.Phase.Name}}</span>)</span>  ' +
'      <ul class="nav nav-pills overflow-h">  ' +
'          <li ng-repeat="item in vm.phases" ng-class="{active: vm.selectResult.Phase === item, hidden: item.Hidden}">  ' +
'              <a href="javascript:void(0)" ng-click="vm.selectResult.Phase = item">  ' +
'                  {{item.Name}}  ' +
'              </a>  ' +
'          </li>  ' +
'      </ul>  ' +
'  </div>  ' +
'  <div class="term-box">  ' +
'      <span class="term">学科(<span class="selectedDicCatalogItem">{{vm.selectResult.Subject.Name}}</span>)</span>  ' +
'      <ul class="nav nav-pills overflow-h">  ' +
'          <li ng-repeat="item in vm.subjects" ng-class="{active: vm.isCurrentSubject(item), hidden: item.Hidden}"><a href="javascript:void(0)" ng-click="vm.selectSubject(item)">{{item.Name}}</a></li>  ' +
'      </ul>  ' +
'  </div>  ' +
'  <div class="term-box">  ' +
'      <span class="term">年级(<span class="selectedDicCatalogItem">{{vm.selectResult.Grade.Name}}</span>)</span>  ' +
'      <ul class="nav nav-pills overflow-h">  ' +
'          <li ng-repeat="item in vm.grades" ng-class="{active: vm.isCurrentGrade(item), hidden: item.Hidden}"><a href="javascript:void(0)" ng-click="vm.selectGrade(item)">{{item.Name}}</a></a></li>  ' +
'      </ul>  ' +
' </div>';
                }();
                var template2 = function() {
                    return '' +
                        '<h2>todo template2</h2>';
                }();
                var template3 = function () {
                    return '' +
                        '<h2>todo template3</h2>';
                }();
                var template4 = function () {
                    return '' +
                        '<h2>todo template4</h2>';
                }();
                var getTemplate = function (tElem, tAttrs) {
                    var mode = tAttrs.viewMode;
                    console.log('nbDicCatalog getTemplate');
                    console.log(mode);
                    if (!mode) {
                        return template1;
                    }

                    if (mode === "1") {
                        return template1;
                    }
                    if (mode === "2") {
                        return template2;
                    }
                    if (mode === "3") {
                        return template3;
                    }
                    if (mode === "4") {
                        return template4;
                    }

                    return template1;
                }
                
                return {
                    scope: {
                        selectResult: '=',
                        vm: '=',
                        viewMode: '@'
                    },
                    controller: function ($scope, $element, $attrs, $transclude) {
                        var vm = $scope.vm;
                        console.log('nbDicCatalog Ctrl');
                        console.log(vm);

                        //$scope.isCurrentItem = function (item, category) {
                        //    if (category === "Org") {
                                
                        //    }
                        //    return $scope.current === item;
                        //};

                        //$scope.selectItem = function (item) {
                        //    if ($scope.current === item) {
                        //        return;
                        //    }
                        //    var old = $scope.current;
                        //    $scope.current = item;
                        //    //console.log('selected:');
                        //    //console.log(item);
                        //    if ($scope.currentChanged) {
                        //        $scope.currentChanged(item, old);
                        //    }
                        //};

                    },
                    template: getTemplate
                };
            });
        }());
    </script>
    <!--[if lt IE 9]>
        <script src="assets/plugins/respond.js"></script>
        <script src="assets/plugins/html5shiv.js"></script>
        <script src="assets/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <div ng-app="mainApp">
        <div class="container">
            <div ng-controller="demoCtrl as vm">
                <div class="row">
                    <h2>{{dicCatalogVm.selectResult.display()}}</h2>
                    <p>{{dicCatalogVm.selectResult}}</p>
                        <hr />
                    <div class="search-block">
                        
                        <div nb-dic-catalog vm="dicCatalogVm" view-mode="1"></div>
                        <hr/>
                        <div>
                            <button ng-click="callTest()">DEMO</button>
                        </div>
                        <p>{{dicCatalogVm}}</p>
                        <hr/>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>