<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>angular-dics</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/theme-colors/blue.css" rel="stylesheet" />
    <link href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css" rel="stylesheet" />
    <link href="/Content/css/layout_template.css" rel="stylesheet">
    <link href="../css/dics.css" rel="stylesheet" />
    <!-- JS Global Compulsory -->
    <script src="assets/plugins/jquery/jquery.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.js"></script>
    <script src="../libs/angular1.2/angular.js"></script>
    <script src="../scripts/zqnb.js"></script>
    <script src="../scripts/zqnb.mainApp.js"></script>
    <script src="../scripts/zqnb.mainApp.unify.js"></script>
    <script src="../scripts/zqnb.dicCatalogVm.js"></script>
    <script>
        (function () {
            'use strict';
            var mainApp = zqnb.mainApp;

            mainApp.factory('dicCatalogAppService', ['$http', function ($http) {
                var serviceUrl = '/Content/scripts/GetDicCatalogs.js';
                return {
                    getDicCatalogs: function () {
                        return $http.get(serviceUrl);
                    }
                }
            }
            ]).factory('dicOrgTypeAppService', ['$http', function ($http) {
                var serviceUrl = '/Content/scripts/GetDicOrgTypes.js';
                return {
                    getDicOrgTypes: function () {
                        return $http.get(serviceUrl);
                    }
                }
            }
            ]);

            mainApp.factory('dicCatalogMockData', ['dicCatalogAppService', 'dicOrgTypeAppService', function (dicCatalogAppService, dicOrgTypeAppService) {

                var dicHelper = zqnb.createDicHelper();

                var mockHelper = function () {

                    var setupInitData = function (initData, dicSettings) {

                        initData.dicSettings = dicSettings;
                        //initCodes
                        initData.initCodes = { OrgCode: 'Org2', PhaseCode: 'Phase2', SubjectCode: 'GS001', GradeCode: 'GO003' };

                        //all dic items
                        //var orgs = [];
                        var phases = [];
                        var subjects = [];
                        var grades = [];

                        ////mock set orgs
                        //orgs.push({ Code: "Org1", Name: "组织1", OrgTypeCode: "OrgType1" });
                        //orgs.push({ Code: "Org2", Name: "组织2", OrgTypeCode: "OrgType2" });
                        //orgs.push({ Code: "Org3", Name: "组织3", OrgTypeCode: "OrgType3" });

                        angular.forEach(dicSettings, function (phase) {
                            if (!phase.InUse) {
                                return;
                            }
                            phases.push({ Code: phase.Code, Name: phase.Name, Hidden: false });
                            //subjects
                            angular.forEach(phase.Subjects, function (subject) {
                                if (!subject.InUse) {
                                    return;
                                }
                                if (!dicHelper.containItem(subjects, subject)) {
                                    subjects.push({ Code: subject.Code, Name: subject.Name, Hidden: false });
                                }
                            });
                            //grades
                            angular.forEach(phase.Grades, function (grade) {
                                if (!grade.InUse) {
                                    return;
                                }
                                if (!dicHelper.containItem(grades, grade)) {
                                    grades.push({ Code: grade.Code, Name: grade.Name, Hidden: false });
                                }
                            });
                        });

                        //initData.orgs = orgs;
                        initData.phases = phases;
                        initData.subjects = subjects;
                        initData.grades = grades;


                        ////mock relations
                        //initData.orgTypePhases = [
                        //    { OrgTypeCode: "OrgType1", PhaseCode: "Phase0" },
                        //    { OrgTypeCode: "OrgType1", PhaseCode: "Phase1" },
                        //    { OrgTypeCode: "OrgType1", PhaseCode: "Phase2" },
                        //    { OrgTypeCode: "OrgType1", PhaseCode: "Phase3" },
                        //    { OrgTypeCode: "OrgType2", PhaseCode: "Phase2" },
                        //    { OrgTypeCode: "OrgType3", PhaseCode: "Phase3" }
                        //];

                        return initData;
                    };

                    return {
                        setupInitData: setupInitData
                    };
                }();

                var init = function (vm) {
                    dicCatalogAppService.getDicCatalogs()
                        .success(function (result) {

                            var initData = {
                                autoAppendEmpty: true,
                                orgs: [],
                                phases: [],
                                subjects: [],
                                grades: [],
                                orgTypePhases: [],
                                initCodes: { OrgCode: '', PhaseCode: '', SubjectCode: '', GradeCode: '' }
                            };

                            //result[0].InUse = true;
                            mockHelper.setupInitData(initData, result);
                            vm.initItems(initData);
                            //vm.initRelation(initData);
                            //vm.updateView();
                        });


                    dicOrgTypeAppService.getDicOrgTypes()
                        .success(function (result) {

                            var orgTypes = [];
                            var orgTypePhases = [];
                            var orgs = [];

                            for (var i = 0; i < result.length; i++) {
                                var orgType = result[i];
                                orgTypes.push({ Code: orgType.Code, Name: orgType.Name });
                                for (var j = 0; j < orgType.Phases.length; j++) {
                                    orgTypePhases.push({ OrgTypeCode: orgType.Code, PhaseCode: orgType.Phases[j]});
                                }
                            }

                            //mock orgs
                            orgs.push({ Code: "whhc", Name: "威海环翠", OrgTypeCode: "JiaoYuJu", ParentCode: "" });
                            orgs.push({ Code: "jyz", Name: "教研组", OrgTypeCode: "JiGou-KeShi", ParentCode: "whhc" });
                            orgs.push({ Code: "ywjyz", Name: "语文教研组", OrgTypeCode: "JiGou-KeShi", ParentCode: "jyz" });
                            orgs.push({ Code: "sxjyz", Name: "数学教研组", OrgTypeCode: "JiGou-KeShi", ParentCode: "jyz" });
                            orgs.push({ Code: "whsyxx", Name: "威海试验小学", OrgTypeCode: "XueXiao-211", ParentCode: "whhc" });
                            orgs.push({ Code: "whyz", Name: "威海一中（完中）", OrgTypeCode: "XueXiao-341", ParentCode: "whhc" });
                            orgs.push({ Code: "whez", Name: "威海二中（高中）", OrgTypeCode: "XueXiao-342", ParentCode: "whhc" });
                            orgs.push({ Code: "whsz", Name: "威海三中（高中）", OrgTypeCode: "XueXiao-342", ParentCode: "whhc" });

                            vm.orgTypes = orgTypes;
                            vm.orgTypePhases = orgTypePhases;
                            vm.orgs = orgs;
                        });

                };
                return { init: init };
            }
            ]);

            mainApp.controller('demoCtrl', function ($scope, dicCatalogMockData) {

                var vm = zqnb.createDicCatalogVm();

                $scope.dicCatalogVm = vm;
                $scope.callTest = function () {
                    vm.selectResult.phase.Name = "ABC";
                }

                $scope.resultChanged = function (event) {
                    //console.log('ctrl get resultChanged!');
                    //console.log(event);
                    vm.resultChanged(event);
                    vm.updateView();
                };

                dicCatalogMockData.init(vm);

            });

            mainApp.directive('nbDicCatalog', function () {

                var categories = function () {
                    return [
                        {
                            key: "orgType",
                            name: "组织类型"
                        },
                        {
                            key: "org",
                            name: "组织"
                        },
                        {
                            key: "phase",
                            name: "学段"
                        },
                        {
                            key: "subject",
                            name: "学科"
                        },
                        {
                            key: "grade",
                            name: "年级"
                        }]
                    ;
                }();
                var createCategoryTemplate1 = function (category) {
                    var key = category.key;
                    var name = category.name;
                    //<div class="term-box">
                    //    <span class="term">组织类型(<span class="selectedDicCatalogItem">{{vm.selectResult.orgType.Name}}</span>)</span>
                    //    <ul class="nav nav-pills overflow-h">
                    //        <li ng-repeat="item in vm.orgTypes" ng-class="{active: isCurrentItem(item, 'orgType'), hidden: item.Hidden}">
                    //            <a href="javascript:void(0)" ng-click="selectItem(item, 'orgType')"> {{item.Name}} </a>
                    //        </li>
                    //    </ul>
                    //</div>

                    return '' +
' <div class="term-box">  ' +
'      <span class="term">' + name + '(<span class="selectedDicCatalogItem">{{vm.selectResult.' + key + '.Name}}</span>)</span>  ' +
'      <ul class="nav nav-pills overflow-h">  ' +
'          <li ng-repeat="item in vm.' + key + 's" ng-class="{active: isCurrentItem(item, \'' + key + '\'), hidden: item.Hidden}">  ' +
'              <a href="javascript:void(0)" ng-click="selectItem(item, \'' + key + '\')">  ' +
'                  {{item.Name}}  ' +
'              </a>  ' +
'          </li>  ' +
'      </ul>  ' +
'  </div>';
                };
                var template1 = function () {
                    var templateValue = '';
                    for (var i = 0; i < categories.length; i++) {
                        var category = categories[i];
                        var value = createCategoryTemplate1(category);
                        //console.log(value);
                        templateValue += value;
                    }
                    return templateValue;
                }();
                var template2 = function () {
                    return 'todo';
                    return '' +
' <ul class="search-dropdown col margin-top-bottom">  ' +
'      <li class="dropdown">  ' +
'          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">  ' +
'              学段(<span class="selectedDicCatalogItem">{{vm.selectResult.Phase.Name}}</span>)  ' +
'          </a>  ' +
'          <ul class="dropdown-menu">  ' +
'              <li ng-repeat="item in vm.phases" ng-class="{active: vm.isCurrentPhase(item), hidden: item.Hidden}">  ' +
'                  <a href="javascript:void(0)" ng-click="vm.selectPhase(item)">{{item.Name}}</a>  ' +
'              </li>  ' +
'          </ul>  ' +
'      </li>  ' +
'      <li class="dropdown">  ' +
'          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">  ' +
'              学科(<span class="selectedDicCatalogItem">{{vm.selectResult.Subject.Name}}</span>)  ' +
'          </a>  ' +
'          <ul class="dropdown-menu style-width">  ' +
'              <li ng-repeat="item in vm.subjects" ng-class="{active: vm.isCurrentSubject(item), hidden: item.Hidden}">  ' +
'                  <a href="javascript:void(0)" ng-click="vm.selectSubject(item)">{{item.Name}}</a>  ' +
'              </li>  ' +
'          </ul>  ' +
'      </li>  ' +
'      <li class="dropdown">  ' +
'          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">  ' +
'              年级(<span class="selectedDicCatalogItem">{{vm.selectResult.Grade.Name}}</span>)  ' +
'          </a>  ' +
'          <ul class="dropdown-menu style-width">  ' +
'              <li ng-repeat="item in vm.grades" ng-class="{active: vm.isCurrentGrade(item), hidden: item.Hidden}">  ' +
'                  <a href="javascript:void(0)" ng-click="vm.selectGrade(item)">{{item.Name}}</a>  ' +
'              </li>  ' +
'          </ul>  ' +
'      </li>  ' +
' </ul>  ';
                }();
                var template3 = function () {
                    return '' +
                        '<h2>todo template3</h2>';
                }();
                var template4 = function () {
                    return '' +
                        '<h2>todo template4</h2>';
                }();
                var getTemplate = function (tElem, tAttrs) {
                    var mode = tAttrs.viewMode;
                    //console.log('nbDicCatalog getTemplate');
                    //console.log(mode);
                    if (!mode) {
                        return template1;
                    }

                    if (mode === "1") {
                        return template1;
                    }
                    if (mode === "2") {
                        return template2;
                    }
                    if (mode === "3") {
                        return template3;
                    }
                    if (mode === "4") {
                        return template4;
                    }

                    return template1;
                }

                return {
                    scope: {
                        vm: '=',
                        viewMode: '@'
                    },
                    controller: function ($scope, $element, $attrs, $transclude) {
                        var vm = $scope.vm;
                        //console.log('nbDicCatalog Ctrl');
                        //console.log(vm);

                        $scope.isCurrentItem = function (item, category) {
                            var currentItem = vm.selectResult[category];
                            if (currentItem) {
                                return currentItem === item;
                            }
                            return false;
                        };

                        $scope.selectItem = function (item, category) {
                            var oldItem = vm.selectResult[category];
                            if (oldItem) {
                                if (oldItem === item) {
                                    //no change
                                    return;
                                }
                                vm.selectResult[category] = item;
                                //console.log('selected:');
                                //console.log(item);
                                if ($scope.currentChangedCallback) {
                                    $scope.currentChangedCallback(item, old);
                                }
                            }
                        };

                    },
                    template: getTemplate
                };
            });
        }());
    </script>
    <!--[if lt IE 9]>
        <script src="assets/plugins/respond.js"></script>
        <script src="assets/plugins/html5shiv.js"></script>
        <script src="assets/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->
</head>
<body>
    <div class="wrapper">
        <div ng-app="mainApp">
            <div class="container">
                <div ng-controller="demoCtrl as vm">
                    <div class="row">
                        <h2>{{dicCatalogVm.selectResult.display()}}</h2>
                        <p>{{dicCatalogVm.selectResult}}</p>
                        <hr />
                        <div class="search-block">

                            <div nb-dic-catalog vm="dicCatalogVm" view-mode="1"></div>
                            <hr />
                            <div>
                                <button ng-click="callTest()">DEMO</button>
                            </div>
                            <p>{{dicCatalogVm}}</p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>

            <h2>在此基础上，完成所有项</h2>


        </div>
    </div>
</body>
</html>