<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>angular-dics</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/theme-colors/blue.css" rel="stylesheet" />
    <link href="/Content/css/layout_template.css" rel="stylesheet">
    <style>
        .search-block .term-box .term {
            float: left;
            margin-right: 2em;
            padding: 5px 15px;
            background-color: #ddd;
            color: #7c8082;
        }

        .search-block .nav > li > a {
            padding: 3px 12px;
        }

        .search-block .term-box:not(:last-child) {
            border-bottom: 1px dashed #ddd;
        }

        .search-block .term-box {
            overflow: Hidden;
            padding: 15px;
        }
    </style>

    <!-- JS Global Compulsory -->
    <script src="../libs/angular1.2/angular.js"></script>
    <script src="../scripts/zqnb.js"></script>
    <script src="../scripts/zqnb.mainApp.js"></script>
    <script src="../scripts/zqnb.mainApp.unify.js"></script>
    <script>
        (function () {
            'use strict';
            var mainApp = zqnb.mainApp;

            mainApp.factory('dicCatalogAppService', [
                '$http', function ($http) {
                    var serviceUrl = '/Content/scripts/GetDicCatalogs.js';
                    return {
                        getDicCatalogs: function () {
                            return $http.get(serviceUrl);
                        }
                    }
                }
            ]);

            //check string equals
            var equalIgnoreCase = function (str, str2) {
                if (str === null || str2 === null) {
                    return true;
                }
                if (typeof str !== 'string' || typeof str2 !== 'string') {
                    return false;
                }
                if (str === '' && str2 === '') {
                    return true;
                }
                return (str2.toUpperCase() === str.toUpperCase());
            };
            var nbContains = function (values, valueToCheck) {
                if (!values || !valueToCheck) {
                    return false;
                }
                for (var i = 0; i < values.length; i++) {
                    if (equalIgnoreCase(values[i], valueToCheck)) {
                        return true;
                    }
                }
                return false;
            };
            var containItem = function (items, itemToCheck) {
                if (!items || !itemToCheck) {
                    return false;
                }
                for (var i = 0; i < items.length; i++) {
                    if (equalIgnoreCase(items[i].Code, itemToCheck.Code)) {
                        return true;
                    }
                }
                return false;
            };

            mainApp.controller('demoCtrl', function ($scope, dicCatalogAppService) {

                var vm = this;

                var createEmptyItem = function () {
                    return { Code: "", Name: "全部", Selected: true, Hidden: false };
                };

                var emptyPhase = createEmptyItem();
                var emptySubject = createEmptyItem();
                var emptyGrade = createEmptyItem();

                var changeSelect = function (items, item) {
                    angular.forEach(items, function (item) {
                        item.Selected = false;
                    });
                    item.Selected = true;
                }
                var hideAll = function (items) {
                    angular.forEach(items, function (item) {
                        if (item.Code === "") {
                            //console.log("Empty Hide: " + item.Name);
                            item.Hidden = false;
                            return;
                        }
                        item.Hidden = true;
                    });
                }
                var changeContext = function (vm) {

                    hideAll(vm.phases);
                    hideAll(vm.subjects);
                    hideAll(vm.grades);

                    //refresh phases
                    //console.log(vm.visiablePhases);
                    angular.forEach(vm.phases, function (phase) {
                        var phaseCodeItem = { Code: phase.Code };
                        if (containItem(vm.visiablePhases, phaseCodeItem)) {
                            phase.Hidden = false;
                        }
                    });

                    //refresh phase subjects
                    //console.log(vm.visiablePhaseSubjects);
                    var needChangeToEmptySubject = true;
                    angular.forEach(vm.subjects, function (subject) {
                        if (vm.currentPhase.Code === "") {
                            //全部（学科）
                            subject.Hidden = false;
                            needChangeToEmptySubject = false;
                            return;
                        }
                        var phaseSubjectCodeItem = { Code: vm.currentPhase.Code + ',' + subject.Code };
                        var shouldShow = containItem(vm.visiablePhaseSubjects, phaseSubjectCodeItem);
                        if (shouldShow) {
                            //console.log("refresh phase subjects: " + vm.currentPhase.Name + ',' + subject.Name + ' ' + shouldShow);
                            subject.Hidden = false;
                            if (equalIgnoreCase(subject.Code, vm.currentSubject.Code)) {
                                //console.log("当前的选中学科在其中: " + subject.Code + ',' + vm.currentSubject.Code);
                                needChangeToEmptySubject = false;
                            }
                        }
                    });
                    //如果当前的选中学科不在其中，则使用全部
                    if (needChangeToEmptySubject) {
                        vm.currentSubject = emptySubject;
                    }

                    ////refresh phase grades
                    ////console.log(vm.visiablePhaseGrades);
                    //angular.forEach(vm.grades, function (item) {
                    //    if (vm.currentPhase.Code === "") {
                    //        //全部（学科）
                    //        item.Hidden = false;
                    //        return;
                    //    }

                    //    var phaseGradeCodeItem = { Code: vm.currentPhase.Code + ',' + item.Code };
                    //    var shouldShow = containItem(vm.visiablePhaseGrades, phaseGradeCodeItem);
                    //    if (shouldShow) {
                    //        item.Hidden = false;
                    //        console.log("refresh phase grades: " + vm.currentPhase.Name + ',' + item.Name + ' '+ shouldShow);
                    //    }
                    //});

                    ////refresh phase subject grades
                    //angular.forEach(vm.grades, function (item) {
                    //    if (vm.currentPhase.Code !== "" && vm.currentSubject.Code !== "") {
                    //        var phaseSubjectGradeCodeItem = { Code: vm.currentPhase.Code + ',' + vm.currentSubject.Code + ',' + item.Code };
                    //        if (!containItem(vm.visiablePhaseSubjectGrades, phaseSubjectGradeCodeItem)) {
                    //            item.Hidden = false;
                    //        }
                    //    }
                    //});
                }

                vm.currentPhaseCode = "";
                
                vm.currentPhase = emptyPhase;
                vm.currentSubject = emptySubject;
                vm.currentGrade = emptyGrade;

                vm.selectPhase = function (item) {
                    changeSelect(vm.phases, item);
                    vm.currentPhase = item;
                    changeContext(vm);
                }
                vm.selectSubject = function (item) {
                    changeSelect(vm.subjects, item);
                    vm.currentSubject = item;
                    changeContext(vm);
                }
                vm.selectGrade = function (item) {
                    changeSelect(vm.grades, item);
                    vm.currentGrade = item;
                    changeContext(vm);
                }
                vm.searchCodes = function () {
                    return [vm.currentPhase.Code, vm.currentSubject.Code, vm.currentGrade.Code];
                }


                dicCatalogAppService.getDicCatalogs().success(function (data) {
                    vm.dicCatalogs = data;
                    data[0].InUse = true;
                    //console.log(data);

                    //todo
                    var phases = [];
                    phases.push(emptyPhase);
                    angular.forEach(data, function (value, key) {
                        phases.push({ Code: value.Code, Name: value.Name, Hidden: !value.InUse });
                    });
                    //console.log(phases);
                    vm.phases = phases;

                    //todo
                    var subjects = [];
                    subjects.push(emptySubject);
                    angular.forEach(data, function (value, key) {

                        angular.forEach(value.Subjects, function (value, key) {

                            if (!containItem(subjects, value)) {
                                subjects.push({ Code: value.Code, Name: value.Name, Hidden: !value.InUse });
                            }
                        });
                    });
                    //console.log(subjects);
                    vm.subjects = subjects;

                    //todo
                    var grades = [];
                    grades.push(emptyGrade);
                    angular.forEach(data, function (value, key) {

                        angular.forEach(value.Grades, function (value, key) {

                            if (!containItem(grades, value)) {
                                grades.push({ Code: value.Code, Name: value.Name, Hidden: !value.InUse });
                            }
                        });
                    });
                    //console.log(grades);
                    vm.grades = grades;

                    //todo
                    var visiablePhases = [];
                    var visiablePhaseSubjects = [];
                    var visiablePhaseGrades = [];
                    var visiablePhaseSubjectGrades = [];

                    angular.forEach(data, function (phase, key) {
                        if (!phase.InUse) {
                            return;
                        }
                        var phaseCodeItem = { Code: phase.Code };
                        if (!containItem(visiablePhases, phaseCodeItem)) {
                            visiablePhases.push(phaseCodeItem);
                        }

                        angular.forEach(phase.Grades, function (grade, key) {

                            if (!grade.InUse) {
                                return;
                            }
                            var phaseGradeCodeItem = { Code: phase.Code + ',' + grade.Code };
                            if (!containItem(visiablePhaseGrades, phaseGradeCodeItem)) {
                                visiablePhaseGrades.push(phaseGradeCodeItem);
                            }
                        });

                        angular.forEach(phase.Subjects, function (subject, key) {

                            if (!subject.InUse) {
                                return;
                            }
                            var subjectCodeItem = { Code: phase.Code + ',' + subject.Code };
                            if (!containItem(visiablePhaseSubjects, subjectCodeItem)) {
                                visiablePhaseSubjects.push(subjectCodeItem);
                            }

                            angular.forEach(subject.Grades, function (grade, key) {
                                if (!grade.InUse) {
                                    //console.log(settingCode + ': Hidden!');
                                    return;
                                }
                                var phaseSubjectGradeCodeItem = { Code: phase.Code + ',' + subject.Code + ',' + grade.Code };
                                if (!containItem(visiablePhaseSubjectGrades, phaseSubjectGradeCodeItem)) {
                                    visiablePhaseSubjectGrades.push(phaseSubjectGradeCodeItem);
                                }
                            });
                        });
                    });
                    //console.log(dicSettings);
                    vm.visiablePhases = visiablePhases;
                    vm.visiablePhaseSubjects = visiablePhaseSubjects;
                    vm.visiablePhaseGrades = visiablePhaseGrades;
                    vm.visiablePhaseSubjectGrades = visiablePhaseSubjectGrades;


                });
            });

        }());
    </script>

    <script>
        (function () {
            'use strict';
            //var mainApp = zqnb.mainApp;

            //mainApp.factory('dicCatalogAppService', ['$http', '$q', function ($http, $q) {
            //    var serviceUrl = '/Content/scripts/GetDicCatalogs.js';
            //    return {
            //        getDicCatalogs: function () {
            //            return $http.get(serviceUrl);
            //        }
            //    }
            //var getDicCatalogs = function () {
            //    var deferred = $q.defer();
            //    $http.get(serviceUrl)
            //        .success(deferred.resolve)
            //        .error(deferred.reject);
            //    return deferred.promise;
            //}
            //return {
            //    getDicCatalogs: getDicCatalogs
            //};
        //}]);

        ////check string equals
        //var equalIgnoreCase = function (str, str2) {
        //    if (str === null || str2 === null) {
        //        return true;
        //    }
        //    if (typeof str !== 'string' || typeof str2 !== 'string') {
        //        return false;
        //    }
        //    if (str === '' && str2 === '') {
        //        return true;
        //    }
        //    return (str2.toUpperCase() === str.toUpperCase());
        //};
        //var nbContains = function (values, valueToCheck) {
        //    if (!values || !valueToCheck) {
        //        return false;
        //    }
        //    for (var i = 0; i < values.length; i++) {
        //        if (equalIgnoreCase(values[i], valueToCheck)) {
        //            return true;
        //        }
        //    }
        //    return false;
        //};


        //var containItem = function (items, itemToCheck) {
        //    if (!items || !itemToCheck) {
        //        return false;
        //    }
        //    for (var i = 0; i < items.length; i++) {
        //        if (equalIgnoreCase(items[i].Code, itemToCheck.Code)) {
        //            return true;
        //        }
        //    }
        //    return false;
        //};

        //mainApp.directive('nbDicCatalog', function () {
        //    return {
        //        restrict: 'EA',
        //        transclude: true,
        //        scope: {},
        //        controller: function ($scope, $element) {

        //            var dicCatalog = $scope.$parent.dicCatalog;
        //            var phases = dicCatalog;
        //            dicCatalog.SelectedCode = '';

        //            $scope.showFilter = function (item) {
        //                var result = !nbContains(dicCatalog.HideCodes, item.Code);
        //                return result;
        //            };

        //            $scope.select = function (selectItem) {
        //                angular.forEach(dicCatalog.Items, function (selectItem) {
        //                    selectItem.Selected = false;
        //                });
        //                selectItem.Selected = true;
        //                dicCatalog.SelectedCode = selectItem.Code;
        //            }
        //        },
        //        template:
        //            '<div class="term-box">' +
        //                '<span class="term">{{dicCatalog.Name}}</span>' +
        //                '<ul class="nav nav-pills overflow-h">' +
        //                '<li ng-repeat="item in dicCatalog.Items | filter: showFilter" ng-class="{active: item.Selected}">' +
        //                '<a href="javascript:void(0)" ng-click="select(item)">{{item.Name}}</a>' +
        //                '</li>' +
        //                '</ul>' +
        //                '</div>' +
        //            '<div class="term-box">' +
        //                '<span class="term">{{dicCatalog.Name}}</span>' +
        //                '<ul class="nav nav-pills overflow-h">' +
        //                '<li ng-repeat="item in dicCatalog.Items | filter: showFilter" ng-class="{active: item.Selected}">' +
        //                '<a href="javascript:void(0)" ng-click="select(item)">{{item.Name}}</a>' +
        //                '</li>' +
        //                '</ul>' +
        //                '</div>',
        //        replace: true
        //    };
        //});

        //mainApp.directive('nbDicCatalogBox', function () {
        //    return {
        //        restrict: 'EA',
        //        transclude: true,
        //        scope: { dicCatalog: '=' },
        //        controller: function ($scope, $element) {
        //            var dicCatalog = $scope.dicCatalog;
        //            dicCatalog.SelectedCode = '';

        //            //dicCatalog.Items[0].Selected = true;
        //            //console.log(dicCatalog);
        //            //var emptyItem = { Code: "", Name: "全部" };
        //            ////todo replace with html use
        //            //dicCatalog.Name = '学段';
        //            //dicCatalog.HideCodes = ['Phase0'];
        //            //dicCatalog.Items = [emptyItem, { Code: "Phase0", Name: "幼儿园" }, { Code: "Phase1", Name: "小学" }, { Code: "Phase2", Name: "幼儿园" }, { Code: "Phase0", Name: "幼儿园" }];
        //            $scope.showFilter = function (item) {
        //                var result = !nbContains(dicCatalog.HideCodes, item.Code);
        //                //console.log(item.Code + ': ' + result);
        //                return result;
        //            };

        //            $scope.select = function (selectItem) {
        //                angular.forEach(dicCatalog.Items, function (selectItem) {
        //                    selectItem.Selected = false;
        //                });
        //                selectItem.Selected = true;
        //                dicCatalog.SelectedCode = selectItem.Code;
        //            }
        //        },
        //        template:
        //            '<div class="term-box">' +
        //                '<span class="term">{{dicCatalog.Name}}</span>' +
        //                '<ul class="nav nav-pills overflow-h">' +
        //                '<li ng-repeat="item in dicCatalog.Items | filter: showFilter" ng-class="{active: item.Selected}">' +
        //                '<a href="javascript:void(0)" ng-click="select(item)">{{item.Name}}</a>' +
        //                '</li>' +
        //                '</ul>' +
        //                '</div>',

        //        //<div class="term-box">
        //        //    <span class="term">学段</span>
        //        //    <ul class="nav nav-pills overflow-h">
        //        //        <li class="active"><a href="#" data-toggle="tab">全部</a></li>
        //        //        <li><a href="#" data-toggle="tab"> 小学</a></li>
        //        //        <li><a href="#" data-toggle="tab"> 初中</a></li>
        //        //        <li><a href="#" data-toggle="tab"> 高中</a></li>
        //        //    </ul>
        //        //</div>

        //        //template:
        //        //    '<div class="term-box">' +
        //        //        '<span class="term">{{dicCatalog.Name}}</span>' +
        //        //        '<ul class="nav nav-pills overflow-h">' +
        //        //        '<li ng-repeat="dicItem in dicCatalog.dicItems | filter: showFilter" ng-class="{active: dicItem.Selected}">' +
        //        //        '<a href="javascript:void(0)" ng-click="select(dicItem)">{{dicItem.Name}}</a>' +
        //        //        '</li>' +
        //        //        '</ul>' +
        //        //        '</div>',
        //        replace: true
        //    };
        //});
        }());
    </script>

    <!--[if lt IE 9]>
            <script src="assets/plugins/respond.js"></script>
            <script src="assets/plugins/html5shiv.js"></script>
            <script src="assets/plugins/placeholder-IE-fixes.js"></script>
        <![endif]-->

</head>
<body>
    <div class="wrapper">
        <div ng-app="mainApp">
            <div class="container">
                <div ng-controller="demoCtrl as vm">

                    <h2>{{vm.searchCodes()}}</h2>
                    <p>{{vm.phases}}</p>
                    <hr />

                    <div class="search-block">

                        <div class="term-box">
                            <span class="term">学段</span>
                            <ul class="nav nav-pills overflow-h">
                                <li ng-repeat="item in vm.phases" ng-class="{active: item.Code === vm.currentPhase.Code, hidden: item.Hidden}">
                                    <a href="#" ng-click="vm.selectPhase(item)">
                                        {{item.Name}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="term-box">
                            <span class="term">学科</span>
                            <ul class="nav nav-pills overflow-h">
                                <li ng-repeat="item in vm.subjects" ng-class="{active: item.Code === vm.currentSubject.Code, hidden: item.Hidden}"><a href="#" ng-click="vm.selectSubject(item)">{{item.Name}}</a></li>
                            </ul>
                        </div>
                        <div class="term-box">
                            <span class="term">年级</span>
                            <ul class="nav nav-pills overflow-h">
                                <li ng-repeat="item in vm.grades" ng-class="{active: item.Code === vm.currentGrade.Code, hidden: item.Hidden}"><a href="#" ng-click="vm.selectGrade(item)">{{item.Name}}</a></a></li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</body>
</html>