<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>angular-dics</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/theme-colors/blue.css" rel="stylesheet" />
    <link href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css" rel="stylesheet" />
    <link href="/Content/css/layout_template.css" rel="stylesheet">
    <link href="../css/dics.css" rel="stylesheet" />
    <!-- JS Global Compulsory -->
    <script src="assets/plugins/jquery/jquery.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.js"></script>
    <script src="../libs/angular1.2/angular.js"></script>
    <script src="../scripts/zqnb.js"></script>
    <script src="../scripts/zqnb.mainApp.js"></script>
    <script src="../scripts/zqnb.mainApp.unify.js"></script>
    <script src="../scripts/zqnb.dicCatalogVm.js"></script>
    <script src="../scripts/dicCatalogMockService.js"></script>
    <script>
        (function () {
            'use strict';
            var mainApp = zqnb.mainApp;

            mainApp.controller('demoCtrl', function ($scope, dicCatalogMockService) {

                console.log('demoCtrl');

                dicCatalogMockService.initAsync(function (initData) {

                    //console.log('dicCatalogMock.initAsync complete!');
                    //console.log(initData);

                    var dicCatalogVm = zqnb.createDicCatalogVm();
                    dicCatalogVm.initItems(initData);
                    //console.log(dicCatalogVm);

                    $scope.dicCatalogVm = dicCatalogVm;

                    //$scope.resultChanged = function (event) {
                    //    //console.log('ctrl get resultChanged!');
                    //    //console.log(event);
                    //    vm.resultChanged(event);
                    //    vm.updateView();
                    //};
                });

            });

            mainApp.directive('nbDicCatalog', function () {

                var categories = function () {
                    return [
                        {
                            key: "orgType",
                            name: "组织类型"
                        },
                        {
                            key: "org",
                            name: "组织"
                        },
                        {
                            key: "phase",
                            name: "学段"
                        },
                        {
                            key: "subject",
                            name: "学科"
                        },
                        {
                            key: "grade",
                            name: "年级"
                        }]
                    ;
                }();
                var createCategoryTemplate1 = function (category) {
                    var key = category.key;
                    var name = category.name;
                    //<div class="term-box">
                    //    <span class="term">组织类型(<span class="selectedDicCatalogItem">{{vm.selectResult.orgType.Name}}</span>)</span>
                    //    <ul class="nav nav-pills overflow-h">
                    //        <li ng-repeat="item in vm.orgTypes" ng-class="{active: isCurrentItem(item, 'orgType'), hidden: item.Hidden}">
                    //            <a href="javascript:void(0)" ng-click="selectItem(item, 'orgType')"> {{item.Name}} </a>
                    //        </li>
                    //    </ul>
                    //</div>
                    return '' +
' <div class="term-box" ng-if="isEmptyItems(\'' + key + '\')">  ' +
'      <span class="term">' + name + '(<span class="selectedDicCatalogItem">{{vm.selectResult.' + key + '.Name}}</span>)</span>  ' +
'      <ul class="nav nav-pills overflow-h">  ' +
'          <li ng-repeat="item in vm.' + key + 's" ng-class="{active: isCurrentItem(item, \'' + key + '\'), hidden: item.Hidden}">  ' +
'              <a href="javascript:void(0)" ng-click="selectItem(item, \'' + key + '\')">  ' +
'                  {{item.Name}}  ' +
'              </a>  ' +
'          </li>  ' +
'      </ul>  ' +
'  </div>';
                };
                var createCategoryTemplate2 = function (category) {
                    var key = category.key;
                    var name = category.name;
                    return '' +
'      <li class="dropdown" ng-if="isEmptyItems(\'' + key + '\')">  ' +
'          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">  ' +
'              ' + name + '(<span class="selectedDicCatalogItem">{{vm.selectResult.' + key + '.Name}}</span>)  ' +
'          </a>  ' +
'          <ul class="dropdown-menu">  ' +
'               <li ng-repeat="item in vm.' + key + 's" ng-class="{active: isCurrentItem(item, \'' + key + '\'), hidden: item.Hidden}">  ' +
'                  <a href="javascript:void(0)" ng-click="selectItem(item, \'' + key + '\')">  ' +
'                  {{item.Name}}  ' +
'              </li>  ' +
'          </ul>  ' +
'      </li>  ';
                };
                var template1 = function () {
                    var templateValue = '';
                    for (var i = 0; i < categories.length; i++) {
                        var category = categories[i];
                        var value = createCategoryTemplate1(category);
                        templateValue += value;
                    }
                    return templateValue;
                }();
                var template2 = function () {
                    var templateValue = ' <ul class="search-dropdown col margin-top-bottom">  ';
                    for (var i = 0; i < categories.length; i++) {
                        var category = categories[i];
                        var value = createCategoryTemplate2(category);
                        templateValue += value;
                    }
                    return templateValue + ' </ul>  ';
                }();
                var template3 = function () {
                    return '' +
                        '<h2>todo template3</h2>';
                }();
                var template4 = function () {
                    return '' +
                        '<h2>todo template4</h2>';
                }();
                var getTemplate = function (tElem, tAttrs) {
                    var mode = tAttrs.viewMode;
                    console.log('nbDicCatalog getTemplate: ' + mode);
                    if (!mode) {
                        return template1;
                    }

                    if (mode === "1") {
                        return template1;
                    }
                    if (mode === "2") {
                        return template2;
                    }
                    if (mode === "3") {
                        return template3;
                    }
                    if (mode === "4") {
                        return template4;
                    }

                    return template1;
                }

                return {
                    scope: {
                        vm: '=',
                        viewMode: '@'
                    },
                    controller: function ($scope, $element, $attrs, $transclude) {
                        var vm = $scope.vm;
                        console.log('nbDicCatalog Ctrl');
                        //console.log(vm);

                        //是否是空的集合（或只有【全部】按钮）
                        $scope.isEmptyItems = function (category) {
                            return vm.isEmptyItems(category);
                        }

                        $scope.isCurrentItem = function (item, category) {
                            var currentItem = vm.selectResult[category];
                            if (currentItem) {
                                return currentItem === item;
                            }
                            return false;
                        };

                        $scope.selectItem = function (item, category) {
                            var oldItem = vm.selectResult[category];
                            if (oldItem) {
                                if (oldItem === item) {
                                    //no change
                                    return;
                                }
                                vm.selectResult[category] = item;
                                //console.log('selected:');
                                //console.log(item);
                                if ($scope.currentChangedCallback) {
                                    $scope.currentChangedCallback(item, old);
                                }
                            }
                        };

                    },
                    template: getTemplate
                };
            });
        }());
    </script>
    <!--[if lt IE 9]>
        <script src="assets/plugins/respond.js"></script>
        <script src="assets/plugins/html5shiv.js"></script>
        <script src="assets/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->
</head>
<body>
    <div class="wrapper">
        <div ng-app="mainApp">
            <div class="container">
                <div ng-controller="demoCtrl">
                    <div class="row">
                        <h2>{{dicCatalogVm.selectResult.display()}}</h2>
                        <hr />
                        <div class="search-block" ng-if="dicCatalogVm">
                            <div nb-dic-catalog vm="dicCatalogVm" view-mode="1"></div>
                        </div>
                    </div>

                </div>


                <!--<div ng-controller="demoCtrl">

                    <div class="row">
                        <h2>{{dicCatalogVm.selectResult.display()}}</h2>
                        <hr/>
                        <div class="form-search margin-bottom-25" ng-if="dicCatalogVm">
                            <form action="" class="sky-form">


                                <div nb-dic-catalog vm="dicCatalogVm" view-mode="2"></div>

                                <br class="clear-both">
                            </form>
                            <span class="search-result">
                                共找到
                                <span class="color-orange">125</span>
                                个视频
                            </span>
                        </div>
                    </div>

                </div>-->


            </div>


        </div>
    </div>
</body>
</html>