<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>angular-dics</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/theme-colors/blue.css" rel="stylesheet" />
    <link href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css" rel="stylesheet" />
    <link href="/Content/css/layout_template.css" rel="stylesheet">
    <link href="../css/dics.css" rel="stylesheet" />

    <!-- JS Global Compulsory -->
    <script src="assets/plugins/jquery/jquery.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.js"></script>
    <script src="../libs/angular1.2/angular.js"></script>
    <script src="../scripts/zqnb.js"></script>
    <script src="../scripts/zqnb.mainApp.js"></script>
    <script src="../scripts/zqnb.mainApp.unify.js"></script>
    <script>
        (function () {
            'use strict';
            var mainApp = zqnb.mainApp;

            mainApp.factory('dicCatalogAppService', ['$http', function ($http) {
                var serviceUrl = '/Content/scripts/GetDicCatalogs.js';
                return {
                    getDicCatalogs: function () {
                        return $http.get(serviceUrl);
                    }
                }
            }
            ]);

            mainApp.controller('demoCtrl', function ($scope, dicCatalogAppService) {

                //'&' and '=' function binding
                //https://stackoverflow.com/questions/25808193/angularjs-isolate-scope-vs

                var dicCatalogVm = function () {
                    var vm = {};

                    var createEmptyItem = function() {
                            return { Code: "", Name: "全部" };
                        },
                        emptyOrg = createEmptyItem(),
                        emptyPhase = createEmptyItem(),
                        emptySubject = createEmptyItem(),
                        emptyGrade = createEmptyItem(),
                        findItem = function (items, code) {
                            var theOne = null;
                            angular.forEach(items, function (item, key) {
                                if (item.Code === code) {
                                    theOne = item;
                                    return;
                                }
                            });
                            return theOne;
                        },
                        initCodes = { OrgCode: '', PhaseCode: '', SubjectCode: '', GradeCode: '' },
                        getSelectCodes = function () {
                            return [vm.org.Code, vm.phase.Code, vm.subject.Code, vm.grade.Code];
                        },
                        initItems = function (initData) {
                            var orgs = [];
                            var phases = [];
                            var subjects = [];
                            var grades = [];

                            if (initData.autoAppendEmpty) {
                                orgs.push(emptyOrg);
                                phases.push(emptyPhase);
                                subjects.push(emptySubject);
                                grades.push(emptyGrade);
                            }

                            //setup orgs
                            angular.forEach(initData.orgs, function (item, key) {
                                var orgTypeCode = '';
                                if (item.OrgTypeCode) {
                                    orgTypeCode = item.OrgTypeCode;
                                }
                                orgs.push({ Code: item.Code, Name: item.Name, OrgTypeCode: orgTypeCode });
                            });
                            dicCatalogVm.orgs = orgs;

                            //setup phases
                            angular.forEach(initData.phases, function (item, key) {
                                phases.push({ Code: item.Code, Name: item.Name });
                            });
                            dicCatalogVm.phases = phases;

                            //setup subjects
                            angular.forEach(initData.subjects, function (item, key) {
                                subjects.push({ Code: item.Code, Name: item.Name });
                            });
                            dicCatalogVm.subjects = subjects;

                            //setup grades
                            angular.forEach(initData.grades, function (item, key) {
                                grades.push({ Code: item.Code, Name: item.Name });
                            });
                            dicCatalogVm.grades = grades;

                            console.log(dicCatalogVm);
                        },
                        initCurrent = function (initData) {
                            var initCodes = initData.initCodes;
                            if (initCodes) {
                                if (initCodes.OrgCode) {
                                    vm.initCodes.OrgCode = initCodes.OrgCode;
                                }
                                if (initCodes.PhaseCode) {
                                    vm.initCodes.PhaseCode = initCodes.PhaseCode;
                                }
                                if (initCodes.SubjectCode) {
                                    vm.initCodes.SubjectCode = initCodes.SubjectCode;
                                }
                                if (initCodes.GradeCode) {
                                    vm.initCodes.GradeCode = initCodes.GradeCode;
                                }
                            }
                            var theOrg = findItem(vm.orgs, vm.initCodes.OrgCode);
                            if (theOrg) {
                                dicCatalogVm.org = theOrg;
                            }

                            var thePhase = findItem(vm.phases, vm.initCodes.PhaseCode);
                            if (thePhase) {
                                dicCatalogVm.phase = thePhase;
                            }

                            var theSubject = findItem(vm.subjects, vm.initCodes.SubjectCode);
                            if (theSubject) {
                                dicCatalogVm.subject = theSubject;
                            }

                            var theGrade = findItem(vm.grades, vm.initCodes.GradeCode);
                            if (theGrade) {
                                dicCatalogVm.grade = theGrade;
                            }
                        },
                        initRelation = function () {
                            //todo
                        };
        
                    vm = {
                        initCodes : initCodes,
                        org: emptyOrg,
                        orgs: null,
                        phase: emptyPhase,
                        phases: null,
                        subject: emptySubject,
                        subjects: null,
                        grade: emptyGrade,
                        grades: null,
                        getSelectCodes: getSelectCodes,
                        initItems: initItems,
                        initCurrent: initCurrent,
                        initRelation: initRelation
                    };
                    return vm;
                }();

                $scope.dicCatalogVm = dicCatalogVm;

                $scope.resultChanged = function () {
                    //console.log('ctrl get resultChanged!');
                };


                var setupDicCatalogVm = function (theVm, dicSettings) {


                    var equalIgnoreCase = function (str, str2) {
                        if (str === null || str2 === null) {
                            return true;
                        }
                        if (typeof str !== 'string' || typeof str2 !== 'string') {
                            return false;
                        }
                        if (str === '' && str2 === '') {
                            return true;
                        }
                        return (str2.toUpperCase() === str.toUpperCase());
                    };
                    var sameCodeItem = function (item1, item2) {
                        return item1 === item2 || equalIgnoreCase(item1.Code, item2.Code);
                    };
                    var containItem = function (items, itemToCheck) {
                        if (!items || !itemToCheck) {
                            return false;
                        }
                        for (var i = 0; i < items.length; i++) {
                            if (sameCodeItem(items[i], itemToCheck)) {
                                return true;
                            }
                        }
                        return false;
                    };

                    //all dic items
                    var orgs = [];
                    var phases = [];
                    var subjects = [];
                    var grades = [];

                    //mock set orgs
                    for (var i = 1; i <= 3; i++) {
                        orgs.push({ Code: "Org" + i, Name: "组织" + i });
                    }

                    angular.forEach(dicSettings, function (phase, key) {
                        if (!phase.InUse) {
                            return;
                        }
                        phases.push({ Code: phase.Code, Name: phase.Name, Hidden: false });
                        //subjects
                        angular.forEach(phase.Subjects, function (subject, key) {
                            if (!subject.InUse) {
                                return;
                            }
                            if (!containItem(subjects, subject)) {
                                subjects.push({ Code: subject.Code, Name: subject.Name, Hidden: false });
                            }
                        });
                        //grades
                        angular.forEach(phase.Grades, function (grade, key) {
                            if (!grade.InUse) {
                                return;
                            }
                            if (!containItem(grades, grade)) {
                                grades.push({ Code: grade.Code, Name: grade.Name, Hidden: false });
                            }
                        });
                    });

                    theVm.orgs = orgs;
                    theVm.phases = phases;
                    theVm.subjects = subjects;
                    theVm.grades = grades;

                    ////dic relations todo
                    //var visiablePhases = [];
                    //var visiablePhaseSubjects = [];
                    //var visiablePhaseGrades = [];
                    //var visiablePhaseSubjectGrades = [];

                    //theVm.visiablePhases = visiablePhases;
                    //theVm.visiablePhaseSubjects = visiablePhaseSubjects;
                    //theVm.visiablePhaseGrades = visiablePhaseGrades;
                    //theVm.visiablePhaseSubjectGrades = visiablePhaseSubjectGrades;

                    return theVm;
                };

                dicCatalogAppService.getDicCatalogs()
                    .success(function (result) {

                        var initData = {
                            autoAppendEmpty: true,
                            orgs: [],
                            phases: [],
                            subjects: [],
                            grades: []
                        };

                        setupDicCatalogVm(initData, result);
                        dicCatalogVm.initItems(initData);
                        initData.initCodes = { OrgCode: 'Org2', PhaseCode: 'Phase2', SubjectCode: 'GS001', GradeCode: 'GO003' };
                        dicCatalogVm.initCurrent(initData);
                    });
            });

            mainApp.directive('nbSelectItems', function () {

                var template1 = function () {
                    return '' +
                        '<div class="term-box">  ' +
                        '    <span class="term">{{category}}(<span class="selectedDicCatalogItem">{{current.Name}}</span>)</span>  ' +
                        '    <ul class="nav nav-pills overflow-h">  ' +
                        '        <li ng-repeat="item in items" ng-class="{active: isCurrentItem(item), hidden: item.Hidden}">  ' +
                        '            <a href="javascript:void(0)" ng-click="selectItem(item)">  ' +
                        '                {{item.Name}}  ' +
                        '            </a>  ' +
                        '        </li>  ' +
                        '    </ul>  ' +
                        '</div>  ';
                }();
                var template2 = '';
                var template3 = '';
                var template4 = '';
                var getTemplate = function (tElem, tAttrs) {
                    var mode = tAttrs.dicViewMode;
                    if (!mode) {
                        return template1;
                    }

                    if (mode === "1") {
                        return template1;
                    }
                    if (mode === "2") {
                        return template2;
                    }
                    if (mode === "3") {
                        return template3;
                    }
                    if (mode === "4") {
                        return template4;
                    }

                    return template1;
                }

                return {
                    scope: {
                        category: '@',
                        currentChanged: '=',
                        items: '=',
                        current: '=',
                        dicViewMode: '@'
                    },
                    controller: function ($scope, $element, $attrs, $transclude) {

                        $scope.isCurrentItem = function (item) {
                            return $scope.current === item;
                        };

                        $scope.selectItem = function (item) {
                            if ($scope.current === item) {
                                return;
                            }
                            var old = $scope.current;
                            $scope.current = item;
                            if ($scope.currentChanged) {
                                $scope.currentChanged(item, old);
                            }
                        };
                    },
                    template: getTemplate
                };
            });
            mainApp.directive('nbDicSearch', function () {

                var getTemplate = function () {
                    return '' +
 '   <div ng-if="dicCatalogVm.orgs">  ' +
 '       <div nb-select-items category="学校" current-changed="orgChanged" items="dicCatalogVm.orgs" current="dicCatalogVm.org" view-mode="dicCatalogVm.viewMode"></div>  ' +
 '   </div>  ' +
 '   <div ng-if="dicCatalogVm.phases">  ' +
 '       <div nb-select-items category="学段" current-changed="phaseChanged" items="dicCatalogVm.phases" current="dicCatalogVm.phase" view-mode="dicCatalogVm.viewMode"></div>  ' +
 '   </div>  ' +
 '   <div ng-if="dicCatalogVm.subjects">  ' +
 '       <div nb-select-items category="学科" current-changed="subjectChanged" items="dicCatalogVm.subjects" current="dicCatalogVm.subject" view-mode="dicCatalogVm.viewMode"></div>  ' +
 '   </div>  ' +
 '   <div ng-if="dicCatalogVm.grades">  ' +
 '       <div nb-select-items category="年级" current-changed="gradeChanged" items="dicCatalogVm.grades" current="dicCatalogVm.grade" view-mode="dicCatalogVm.viewMode"></div>  ' +
 '  </div>  ';
                };

                return {
                    require: '^nbSelectItems',
                    scope: {
                        resultChanged: '=',
                        dicCatalogVm: '='
                    },
                    controller: function ($scope, $element, $attrs, $transclude) {

                        var notifyChanged = function () {
                            if ($scope.resultChanged) {
                                $scope.resultChanged();
                            }
                        };

                        $scope.orgChanged = function (newItem, oldItem) {
                            //console.log('orgChanged: ' + oldItem.Code + ' -> ' + newItem.Code);
                            notifyChanged();
                        };

                        $scope.phaseChanged = function (newItem, oldItem) {
                            //console.log('phaseChanged: ' + oldItem.Code + ' -> ' + newItem.Code);
                            notifyChanged();
                        };

                        $scope.subjectChanged = function (newItem, oldItem) {
                            //console.log('subjectChanged: ' + oldItem.Code + ' -> ' + newItem.Code);
                            notifyChanged();
                        };

                        $scope.gradeChanged = function (newItem, oldItem) {
                            //console.log('gradeChanged: ' + oldItem.Code + ' -> ' + newItem.Code);
                            notifyChanged();
                        };
                    },
                    template: getTemplate()
                };
            });

        }());
    </script>

    <!--[if lt IE 9]>
            <script src="assets/plugins/respond.js"></script>
            <script src="assets/plugins/html5shiv.js"></script>
            <script src="assets/plugins/placeholder-IE-fixes.js"></script>
        <![endif]-->

</head>
<body>
    <div class="wrapper">
        <div ng-app="mainApp">
            <div class="container">
                <div ng-controller="demoCtrl as vm">

                    <div class="row">
                        <h2>{{dicCatalogVm.getSelectCodes()}}</h2>
                        <hr />
                        <div class="search-block">
                            <div>
                                <div nb-dic-search result-changed="resultChanged" dic-catalog-vm="dicCatalogVm"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>