<h2>Upload Basic Plus</h2>
<hr />
<div>
    <blockquote>
        <p>
            File Upload widget with multiple file selection, drag&amp;drop support, progress bar, <span class="text-danger">validation and preview images, audio and video</span> for jQuery.<br>
            Supports cross-domain, chunked and resumable file uploads and <span class="text-danger">client-side image resizing</span>.<br>
            Works with any server-side platform (PHP, Python, Ruby on Rails, Java, Node.js, Go etc.) that supports standard HTML form file uploads.
        </p>
    </blockquote>
</div>

@Demo1()

@helper Demo1()
{
    
}