<h2>
    Conditional comments only work in IE, and are thus excellently suited to give special instructions meant only for IE. They are supported from IE 5 up until IE9 (inclusive).
</h2>
<h2>
    Note that conditional comments were removed from IE10, so IE10 and up will not understand the test.
</h2>
<a href="https://www.quirksmode.org/css/condcom.html">Conditional comments</a>
<a href="https://codex.wordpress.org/Conditional_Comment_CSS">wordpress</a>
<a href="https://en.wikipedia.org/wiki/Conditional_comment">wiki</a>
<a href="https://msdn.microsoft.com/en-us/library/ms537512(v=vs.85).aspx">msdn</a>
<a href="https://msdn.microsoft.com/en-us/library/hh801214(v=vs.85).aspx">Conditional comments are no longer supported(IE10)</a>
<hr />

<pre>&lt;!--[if condition]&gt;
(what to output if the condition is true)
&lt;![endif]--&gt;</pre>

<hr />

<ol class="spacing">
    <li>
        Their basic structure is the same as an HTML comment (<code>&lt;!-- --&gt;</code>). Therefore all other
        browsers will see them as normal comments and will ignore them entirely.
    </li>
    <li>
        IE, though, has been programmed to recognize the special <code>&lt;!--[if IE]&gt;</code>
        syntax, resolves the <code>if</code> and parses the content of the conditional comment as if it were normal
        page content.
    </li>
    <li>
        Since conditional comments use the <b>HTML</b> comment structure, they can only be included in HTML files,
        and not in CSS files. I'd have preferred to put the special styles in the CSS file, but that's impossible.
        You can also put an entire new <code>&lt;link&gt;</code> tag in the conditional comment
        referring to an extra style sheet.
    </li>
</ol>
<hr />

<table class="table-striped table-bordered">
    <tbody>
        <tr>
            <th>Comment type</th>
            <th>Syntax or possible value</th>
        </tr>
        <tr>
            <td>standard HTML comment</td>
            <td>&lt;!--&nbsp;Comment content &nbsp;--&gt;</td>
        </tr>
        <tr>
            <td>downlevel-hidden</td>
            <td>&lt;!--[if <i>expression</i>]&gt; <i>HTML</i> &lt;![endif]--&gt;</td>
        </tr>
        <tr>
            <td>downlevel-revealed</td>
            <td>&lt;![if <i>expression</i>]&gt; <i>HTML</i> &lt;![endif]&gt;</td>
        </tr>
    </tbody>
</table>
<hr />

<h2>downlevel-revealed conditional comments</h2>
<pre><span class="cp">&lt;![if !IE]&gt;</span>
<span class="p">&lt;</span><span class="nt">link</span> <span class="na">href</span><span class="o">=</span><span class="s">"non-ie.css"</span> <span class="na">rel</span><span class="o">=</span><span class="s">"stylesheet"</span><span class="p">&gt;</span>
<span class="cp">&lt;![endif]&gt;</span>
</pre>
<hr />

<h2>alternative technique downlevel-revealed conditional comments(valid w3c)</h2>
<pre><span class="c">&lt;!--[if !IE]&gt;--&gt;</span>
<span class="p">&lt;</span><span class="nt">link</span> <span class="na">href</span><span class="o">=</span><span class="s">"non-ie.css"</span> <span class="na">rel</span><span class="o">=</span><span class="s">"stylesheet"</span><span class="p">&gt;</span>
<span class="c">&lt;!--&lt;![endif]--&gt;</span>
</pre>

<p>
    While somewhat confusing in structure, this specific syntax is valid (X)HTML and is useful for conditional sections intended specifically for non-IE browsers; if the condition evaluates to <i>true</i> (for example, if writing code meant to display on non-IE browsers <i>and</i> on some versions of IE), IE will then display the "--&gt;" present before the HTML content. This problem is easily solved by prepending "&lt;!" to the initial "--&gt;" as follows:
</p>
<pre><span class="c">&lt;!--[if gt IE 6]&gt;&lt;!--&gt;</span>
This code displays on non-IE browsers and on IE 7 or higher.
<span class="c">&lt;!--&lt;![endif]--&gt;</span>
</pre>
<hr />

<table class="table-striped">
    <tbody>
        <tr><th width="50">项目</th><th width="150">范例</th><th>说明</th></tr>
        <tr>
            <td>!</td>
            <td>[if !IE]</td>
            <td>The NOT operator. This is placed immediately in front of the&nbsp;<em>feature</em>,&nbsp;<em>operator</em>, or&nbsp;<em>subexpression</em>&nbsp;to reverse the Boolean meaning of the expression.<br>NOT运算符。这是摆立即在前面的<em>功能</em>，<em>操作员</em>，或<em>子表达式</em>扭转布尔表达式的意义。</td>
        </tr>
        <tr>
            <td>lt</td>
            <td>[if lt IE 5.5]</td>
            <td>The less-than operator. Returns true if the first argument is less than the second argument.<br>小于运算符。如果第一个参数小于第二个参数，则返回true。</td>
        </tr>
        <tr>
            <td>lte</td>
            <td>[if lte IE 6]</td>
            <td>The less-than or equal operator. Returns true if the first argument is less than or equal to the second argument.<br>小于或等于运算。如果第一个参数是小于或等于第二个参数，则返回true。</td>
        </tr>
        <tr>
            <td>gt</td>
            <td>[if gt IE 5]</td>
            <td>The greater-than operator. Returns true if the first argument is greater than the second argument.<br>大于运算符。如果第一个参数大于第二个参数，则返回true。</td>
        </tr>
        <tr>
            <td>gte</td>
            <td>[if gte IE 7]</td>
            <td>The greater-than or equal operator. Returns true if the first argument is greater than or equal to the second argument.<br>大于或等于运算。如果第一个参数是大于或等于第二个参数，则返回true。</td>
        </tr>
        <tr>
            <td>( )</td>
            <td>[if !(IE 7)]</td>
            <td>Subexpression operators. Used in conjunction with boolean operators to create more complex expressions.<br>子表达式运营商。在与布尔运算符用于创建更复杂的表达式。</td>
        </tr>
        <tr>
            <td>&amp;</td>
            <td>[if (gt IE 5)&amp;(lt IE 7)]</td>
            <td>The AND operator. Returns true if all subexpressions evaluate to true<br>AND运算符。如果所有的子表达式计算结果为true，返回true</td>
        </tr>
        <tr>
            <td>|</td>
            <td>[if (IE 6)|(IE 7)]</td>
            <td>The OR operator. Returns true if any of the subexpressions evaluates to true.<br>OR运算符。返回true，如果子表达式计算结果为true。</td>
        </tr>
    </tbody>
</table>

<hr />
<!--[if !IE]><!--> 除IE外都可识别 <!--<![endif]-->
<!--[if IE]> 所有的IE可识别 <![endif]-->
<!--[if IE 6]> 仅IE6可识别 <![endif]-->
<!--[if lt IE 6]> IE6以下版本可识别 <![endif]-->
<!--[if gte IE 6]> IE6以及IE6以上版本可识别 <![endif]-->
<!--[if IE 7]> 仅IE7可识别 <![endif]-->
<!--[if lt IE 7]> IE7以下版本可识别 <![endif]-->
<!--[if gte IE 7]> IE7以及IE7以上版本可识别 <![endif]-->
<!--[if IE 8]> 仅IE8可识别 <![endif]-->
<!--[if IE 9]> 仅IE9可识别 <![endif]-->

<hr />
<!--[if IE 6]>
Special instructions for IE 6 here
<![endif]-->
<!--[if IE 6]>

<![endif]-->
